extends layout

block content
    form(method='post', action='/addbook', enctype='multipart/form-data').mt-3
        h2.mb-3 Add a new book
        .form-group
            input.form-control(type="text", name="title" placeholder="Book title").mb-2
        .form-group
            input.form-control(type="text", name="desc" placeholder="book description").mb-2
        .form-group
            input.form-control(type="text", name="author" placeholder="Author").mb-2
        .form-group
            input.form-control(type="file", name="cover").mb-2
        input.btn.btn-primary(type="submit", value="Add book", name='submit')