//- if logged in you can go to member area, else redirect to login page

extends layout

block content
  
  .row.m-auto
    each book, i in books 
      .col.md-4.card.mt-5.mr-3.p-2(style='width: 18rem;')
        .card-img-top(src='#{book.cover}', alt='#{book.title}')
        .card-body
          h4.card-title(style='color: green;') #{book.title}
          p.card-text #{book.desc}
          a.btn.btn-success(href='#') Download
      
      

